<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twt.mapper.UserMapper">

    <select id="getUserRole" resultType="java.lang.String">
        select name from tb_role where id =(select roleid from tb_user_role where userid = #{id})
    </select>

    <update id="setUserRole">
        insert into tb_user_role (userid,roleid) values (#{id},1)
    </update>

</mapper>
